.middle-section {
  display: flex;
  border-right: 1px solid #e8e8e8;
}

.wrap {
  width: 120px;
  height: 120px;
  background: lightgray;
  border-radius: 50%;
  border: 1px solid #cdcbd0;
}

.mask > .fill {
  clip: rect(0, 75px, 150px, 0);
  background-color: #227ded;
}

.mask.full,
.circle .fill {
  animation: fill ease-in-out 3s;
  transform: rotate(135deg);
}

.wrap .circle .mask,
.wrap .circle .fill {
  width: 120px;
  height: 120px;
  position: absolute;
  border-radius: 50%;
}

.wrap .circle .mask {
  clip: rect(0, 150px, 150px, 75px);
}

.wrap .inside-circle {
  width: 103px;
  height: 103px;
  border-radius: 50%;
  background: #fff;
  line-height: 120px;
  text-align: center;
  margin-top: 9px;
  margin-left: 9px;
  color: #1e51dc;
  position: absolute;
  z-index: 100;
  font-weight: 700;
  font-size: 2em;
}

@keyframes fill {
  0% {
    transform: rotate(0deg);
  }

  80% {
    transform: rotate(130deg);
  }
}
